<% stylesheet_link_tag 'users/index' %>

<div id="users-list-page" class="content">
  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= render 'users/user_tile', user: user %>
      </li>
    <% end %>
  </ul>
</div>