<% stylesheet_link_tag 'posts/comments_tile' %>

<div class="comments-tile">
  <ul>
    <% comments.each do |comment| %>
      <li>
          <div>
            <p class="commenter"><%= comment.user.name %>:</p>
            <p><%= comment.text %></p>
          </div>
          <!-- <% if can? :read, @user %> -->
            <%= form_with url: user_post_path(@user, @post), method: :delete do %>
              <button class="custom-button">Delete</button>
            <% end %>
          <!-- <% end %> -->

      </li>
    <% end %>
  </ul>
  <% if comments.length == 0 %>
    <p>No Comments yet</p>
  <% end %>
</div>
