<% stylesheet_link_tag 'posts/index' %>

<div id="all-posts-page" class="content">
  <%= render 'users/user_tile', user: @user %>
  <div class="button-container">
    <%= link_to new_user_post_path(@user) do %>
      <button>Create a new Post</button>
    <% end %>
  </div>
  <ul>
    <% @all_posts.each do |post| %>
      <li>
        <%= render 'posts/post_tile', post: post, user: @user, expanded: false %>
        <%= render 'posts/comments_tile', comments: post.recent_comments %>
      </li>
    <% end %>
  </ul>
</div>
