<% stylesheet_link_tag 'posts/index' %>

<div id="all-posts-page" class="content">
  <%= render 'users/user_tile', user: @user %>
  <ul>
    <% @recent_posts.each do |post| %>
      <li>
        <%= link_to user_post_path(@user, post) do %>
          <%= render 'posts/post_tile', post: post, expanded: false %>
          <%= render 'posts/comments_tile', comments: post.recent_comments %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
