/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.content {
  margin: 0 10%;
}

a {
  text-decoration: none;
  color: black;
}

.alert {
  border: 3px solid black;
  margin: 20px 10%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.custom-button {
  border: 3px solid black;
  height: 40px;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
}
